.main {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.hover{
  outline: none;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  border: none;
  z-index: 3;
}

.hover:hover{
  transform: scale(1.25);
  transition: transform .2s;
}

.updiv{
  transform:translateY(-160%);
  transition:all 500ms ease-in-out;
}

.downdiv{
  transform: translateY(165%);
  transition:all 500ms ease-in-out;
}

@keyframes fadeOut{
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.hoverAfter{
  animation: fadeOut 500ms;
  opacity: 0;
}

@keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.imgHide{
  opacity: 0;
  position: absolute;
  border-radius: 15px;
}

.imgAfter{
  animation: fadeIn 900ms;
  opacity: 1;
  border-radius: 15px;
}
