.container{
  display: flex;
  justify-content: center;
  height: 100vh;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.hover{
  outline: none;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  border: none;
  z-index: 3;
  align-self: center;
}

.hover:hover{
  transform: scale(1.25);
  transition: transform .2s;
}

.updiv{
  transform:translateY(-158%);
  transition:all 500ms ease-in-out;
}

.downdiv{
  transform: translateY(168%);
  transition:all 500ms ease-in-out;
}

@keyframes fadeOut{
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.hoverAfter{
  animation: fadeOut 500ms;
  opacity: 0;
}

@keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.imgHide{
  opacity: 0;
  position:absolute;
  border-radius: 15px;
  width:60%;
  height:auto;
}

.imgAfter{
  animation: fadeIn 900ms;
  opacity: 1;
  border-radius: 15px;
  width: 90%;
  max-width: 580px;
  height:auto;
}

.left{
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
  position:absolute;
  line-height: 1.5;
  font-size: 1.5rem;
  top: 81.6%;
  right: 80%;
  opacity:0;
}

.leftAfter{
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
  position:absolute;
  line-height: 1.5;
  font-size: 1.5rem;
  top: 81.6%;
  right: 80%;
  opacity: 1;
  animation: fadeIn 900ms;
  transform:translateX(280%);
  transition:all 500ms ease-in-out;
}

.right{
  float:left;
  position:absolute;
  top: 83%;
  left: 80%;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.45rem;
  opacity: 0;
}

.rightAfter{
  float:left;
  position:absolute;
  top: 83%;
  left: 80%;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.1rem;
  opacity: 1;
  animation: fadeIn 900ms;
  transform:translateX(-280%);
  transition:all 500ms ease-in-out;
}

.icon{
  display:inline-block;
  margin: 5px;
}

.icon:hover{
  transform: scale(1.25);
  transition: transform .2s;
}

.header{
  margin: 0;
  padding: 0;
  position:fixed;
  top:0;
  width:100%;
  background-color: #fafafa;
  opacity:0;
}

.headerAfter{
  margin: 0;
  padding: 0;
  position:fixed;
  top:0;
  width:100%;
  background-color: #fafafa;
  animation: fadeIn 1200ms;
  opacity: 1;
}

.headerLinks{
  display: inline;
  float: right;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
  text-align: center;
  padding-left: 15px;
  padding-right: 25px;
}

.navButton{
  outline: none;
  border: none;
  display: inline;
  float: right;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
  text-align: center;
  padding-left: 15px;
  padding-right: 25px;
  cursor: pointer; 
}

.navButton:hover{
  transform: scale(1.5);
  transition: transform .2s;
}

.home{
  display: inline;
  float: left;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
  text-align: center;
  padding-left: 25px;
  padding-right: 15px;
}

.footer{
  margin: 0;
  padding: 0;
  position:fixed;
  bottom:0;
  width:100%;
  background-color: #fafafa;
  opacity:0;
}

.footerAfter{
  margin: 0;
  padding: 0;
  position:fixed;
  bottom:0;
  width:100%;
  background-color: #fafafa;
  animation: fadeIn 1200ms;
  opacity:1;
}

.copyright{
  display: inline;
  float: right;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
  text-align: center;
  padding-left: 15px;
  padding-right: 25px;
}

.navOpen{
  display:block;
  opacity:1;
}

.navClose{
  display:none;
  opacity:0;
}

.headerLinks:hover{
  transform: scale(1.20);
  transition: transform .2s;
}

.home:hover{
  transform: scale(1.20);
  transition: transform .2s;
}

@media only screen and (max-width: 600px) {
  .updiv{
    transform:translateY(-80%);
    transition:all 500ms ease-in-out;
  }
  
  .downdiv{
    transform: translateY(70%);
    transition:all 500ms ease-in-out;
  }

  .left{
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
    position:absolute;
    line-height: 1.5;
    font-size: 1.5rem;
    top: 77%;
    right: 120%;
    opacity:0;
    display:inline;
    width:40%;
  }

  .leftAfter{
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
    position:absolute;
    line-height: 1.5;
    font-size: 1.5rem;
    top: 77%;
    right: 120%;
    opacity: 1;
    animation: fadeIn 900ms;
    transform:translateX(225%);
    transition:all 500ms ease-in-out;
    display:inline;
    width:40%;
  }

  .right{
    float:left;
    position:absolute;
    top: 84%;
    left: 100%;
    display:flex;
    background: #fafafa;
    border-radius: 5px;
    padding: 0.45rem;
    opacity: 0;
  }
  
  .rightAfter{
    display:flex;
    float:left;
    position:absolute;
    top: 84%;
    left: 80%;
    background: #fafafa;
    border-radius: 5px;
    padding: 0.1rem;
    opacity: 1;
    animation: fadeIn 900ms;
    transform:translateX(-125%);
    transition:all 500ms ease-in-out;
  }


}